<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Arch">
            <file>tests/ArchTest.php</file>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <!-- Server-only races run explicitly in the database CI job; the explicit group option opts in. -->
    <groups>
        <exclude>
            <group>attribution-concurrency</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="LINKADO_MODE" value="off" force="true"/>
        <env name="LINKADO_URL" value="" force="true"/>
        <env name="LINKADO_BASE_URL" value="" force="true"/>
        <env name="LINKADO_TOKEN" value="" force="true"/>
        <env name="LINKADO_PROGRAM_KEY" value="" force="true"/>
        <env name="LINKADO_SSO_ENABLED" value="false" force="true"/>
        <env name="LINKADO_TRACKING_ENABLED" value="false" force="true"/>
        <env name="LINKADO_CUSTOMER_EVENTS_ENABLED" value="false" force="true"/>
        <env name="LINKADO_BILLING_EVENTS_ENABLED" value="false" force="true"/>
        <env name="LINKADO_REFUND_EVENTS_ENABLED" value="false" force="true"/>
        <env name="APP_CONFIG_CACHE" value="/tmp/linkado-package-test-config.php" force="true"/>
        <server name="LINKADO_MODE" value="off" force="true"/>
        <server name="LINKADO_URL" value="" force="true"/>
        <server name="LINKADO_BASE_URL" value="" force="true"/>
        <server name="LINKADO_TOKEN" value="" force="true"/>
        <server name="LINKADO_PROGRAM_KEY" value="" force="true"/>
        <server name="LINKADO_SSO_ENABLED" value="false" force="true"/>
        <server name="LINKADO_TRACKING_ENABLED" value="false" force="true"/>
        <server name="LINKADO_CUSTOMER_EVENTS_ENABLED" value="false" force="true"/>
        <server name="LINKADO_BILLING_EVENTS_ENABLED" value="false" force="true"/>
        <server name="LINKADO_REFUND_EVENTS_ENABLED" value="false" force="true"/>
        <server name="APP_CONFIG_CACHE" value="/tmp/linkado-package-test-config.php" force="true"/>
    </php>
</phpunit>
